body {
  background: purple;
}
nav {
  background-color: #333;
  overflow: hidden;
  height: 50px;
  text-align: center;
  border-radius: 4px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  font-family: "Poppins", sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: #111;
}
